@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

@import url("./common/nav2.css");
@import url("./common/footer.css");
/* @import url("./common/loading.css"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.banner {
  font-family: "Poppins", sans-serif;
}
.banner {
  width: 100%;
  height: 90vh;
  background-image: url(../images/43.jpg);
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
.banner::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 61px;
  content: "";
  /* background-color: black; */
  background-image: url(../images/vanner9-a.png);
}

.banner-mak {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.banner-content {
  /* border: 1px solid red; */
  width: 100%;
  min-height: 60vh;
  font-size: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* z-index: ; */
}
.banner-content h2 {
  /* border: 1px solid red; */
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0008); */
  line-height: 0.7em;
  outline: none;

  font-weight: 900;
  /* animation: animate 5s linear infinite; */
  position: relative;
  margin-top: 35px;
  line-height: 35px;
}
.banner-content h4 {
  /* border: 1px solid red; */
  font-size: 20px;
  color: #c19d60;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0008); */
  line-height: 0.7em;
  outline: none;
  font-family: "Playfair Display";
  font-weight: 900;
  /* animation: animate 5s linear infinite; */
  position: relative;
  line-height: 25px;
}

.mouse-scroll {
  position: absolute;
  left: 50%;
  top: 150px;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 30px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 6px;
}

.mouse-scroll:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 5px;
  height: 5px;
  background: #c19d60;
  border-radius: 8px;
  animation: scroll-ani 1s linear infinite;
}

@keyframes scroll-ani {
  0% {
    top: 10px;
    opacity: 0.8;
  }
  100% {
    top: 25px;
    opacity: 0.1;
  }
}

@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: rgb(235, 235, 235);
    text-shadow: none;
  }
  18%,
  20%,
  50.1%,
  60%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px rgb(151, 146, 147), 0 0 20px rgb(151, 150, 151),
      0 0 40px rgb(175, 175, 175), 0 0 60px crimson, 0 0 80px crimson,
      0 0 160px crimson;
  }
}
section {
  padding: 80px 0;
  background-color: #fff;
}
.max-width {
  margin: auto;
}

#issmap {
  /* border: 1px solid red; */
  height: 550px;
  width: 100%;
  position: relative;
  display: flex;
  z-index: 99;
}

#issmap::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 61px;
  content: "";
  /* background-color: black; */
  background-image: url(../images/vanner9-a.png);
}

/* =========== */
/* open-time */
.open-time {
  /* border: 1px solid red; */
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  /* max-width: 1300px; */
  margin: auto;
}

.open-time .open-time-left {
  /* margin-right: 50px; */
  width: 50%;
  position: relative;
  background-attachment: fixed;
  /* border: 1px solid red; */
  align-items: center;
}
.open-time-row {
  /* border: 3px solid blue; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
}

.time-left-title {
  /* border: 1px solid black; */
}
.time-left-title h3 {
  font-size: 30px;
  font-weight: 900;
  color: #323246;
  margin-bottom: 15px;
  /* font-family: "Playfair Display", cursive; */
}

.time-left-title span {
  width: 10px;
  /* border: 1px solid red; */
  position: relative;
}
.time-left-title span::after {
  content: "\25CF\25CF\25CF\25CF\25CF\25CF";
  color: #333;
  font-size: 7px;
  letter-spacing: 4px;
}
.time-left-title p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 10px;
  font-weight: 400;
  color: #5e646a;
  font-family: "Poppins", sans-serif;
}

#form input[type="text"] {
  float: left;
  border: none;
  border: 1px solid #e1e1e1;
  background: #f9f9f9;
  width: 100%;
  padding: 15px 20px;
  color: #000;
  font-size: 12px;
  -webkit-appearance: none;
  font-family: "Poppins", sans-serif;
  margin: 5px 0;
}
#form input[type="date"] {
  float: left;
  border: none;
  border: 1px solid #e1e1e1;
  background: #f9f9f9;
  width: 100%;
  padding: 15px 20px;
  color: #000;
  font-size: 12px;
  -webkit-appearance: none;
  font-family: "Poppins", sans-serif;
  margin: 5px 0;
}
#form input[type="time"] {
  float: left;
  border: none;
  border: 1px solid #e1e1e1;
  background: #f9f9f9;
  width: 100%;
  padding: 15px 20px;
  color: #000;
  font-size: 12px;
  -webkit-appearance: none;
  font-family: "Poppins", sans-serif;
  margin: 5px 0;
}
#form select {
  float: left;
  border: none;
  border: 1px solid #e1e1e1;
  background: #f9f9f9;
  width: 100%;
  padding: 15px 20px;
  color: #000;
  font-size: 12px;
  -webkit-appearance: none;
  font-family: "Poppins", sans-serif;
  margin: 5px 0;
}
.time-left-form .from-textarea {
  margin: 15px 0;
  float: left;
  border: none;
  border: 1px solid #e1e1e1;
  background: #f9f9f9;
  width: 100%;
  height: 100px;
  padding: 15px 20px;
  color: #000;
  font-size: 12px;
  -webkit-appearance: none;
  font-family: "Poppins", sans-serif;
}
.time-left-form p {
  margin-bottom: 15px;
}

#form input[type="submit"] {
  cursor: pointer;
  background: #c19d60;
  padding: 10px 35px;
  display: inline-block;
  position: relative;
  color: #fff;
  margin-top: 15px;
  font-weight: 500;
  border: 1px solid rgba(206, 144, 144, 0);
}
/* ================ */

.open-time-right {
  /* border: 11px solid yellow; */
  width: 40%;
  padding: 15px;
  background-color: #292929;
  background-image: url(../images/backimg/backimgB.png);
}
.open-time-container {
  /* border: 2px solid rgb(255, 255, 255); */
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.open-time-container::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  height: 90%;
  border: 1px dashed rgba(255, 255, 255, 0.2);
  z-index: 2;
  box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.03);
}

.open-time-text {
  width: 100%;
  /* border: 1px solid rgb(255, 252, 252); */
}

.section-title {
  text-align: center;
  /* margin-bottom: 50px; */
}
.section-title h4 {
  color: #c19d60;
  /* font-family: "Playfair Display", cursive; */
  font-style: italic;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
}
.section-title h2 {
  font-size: 30px;
  font-weight: 900;
  color: #ffffff;
  /* font-family: "Playfair Display"; */
}
.open-time-dots {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}
.open-time-dots li {
  /* border: 1px solid red; */
  border-radius: 50%;
  width: 7px;
  height: 7px;
  list-style: none;
  background-color: #c19d60;
  margin: 10px 6px;
}
.work-time {
  width: 100%;
  /* border: 1px solid rgb(255, 252, 252); */
}
.work-time2 {
  position: relative;
  z-index: 5;
  width: 80%;
  margin: auto;
  /* border: 1px solid rgb(255, 252, 252); */
  margin-bottom: 35px;
}
.work-time2 .activity {
  /* height: 50px; */
  /* border: 1px solid red; */
}
.work-time2 .activity h4 {
  color: #fff;
  font-size: 19px;
  /* font-family: "Playfair Display", cursive; */
  padding-bottom: 10px;
}
.work-time2 .activity span {
  font-weight: 600;
  padding-bottom: 10px;
  display: block;
  color: #c19d60;
}
.work-time2 .activity p {
  font-size: 13px;
  line-height: 24px;
  padding-bottom: 10px;
  font-weight: 400;
  color: #5e646a;
}
.work-time2 .activity ul {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
}
.work-time2 .activity ul::after {
  position: absolute;
  bottom: -10px;
  width: 30%;
  height: 1px;
  background-color: #c19d60;
  content: "";
}

.work-time2 .activity ul li {
  border-radius: 50%;
  background-color: #c19d60;
  width: 7px;
  height: 7px;
  list-style: none;
  margin: 0 3px;
}
.book-btn,
.buy-btn {
  padding: 14px 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #c19d60;
  color: #fff;
  /* margin-top: 40px; */
  /* font-family: "Playfair Display", cursive; */
  font-weight: 600;
  font-size: 13px;
  transition: all 200ms linear;
  position: relative;
  z-index: 5;
}
.buy-btn {
  background: rgb(71, 71, 71);
  border: 0;
}
.buy-btn:hover {
  background-color: #c19d60;
}

.book-btn:hover {
  background-color: #fff;
  color: rgb(0, 0, 0);
}

.work-time .row {
  display: flex;
  justify-content: space-evenly;
}
.work-time .row h3 {
  color: #c19d60;
  position: relative;
  font-size: 20px;
}
.work-time .row h3::before {
  position: absolute;
  bottom: -100px;
  content: "";
  width: 100%;
  height: 0.5px;
  background-color: #c19d60;
}

.hour {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  padding-bottom: 20px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.big-number {
  margin-top: 50px;

  display: inline-block;
  padding: 10px 15px;
}
.big-number a {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 20px;
  /* font-family: "Playfair Display", cursive; */
  transition: all 500ms linear;
  border: 1px solid;
  color: #fff;
  border: 1px solid #c19d60;
  cursor: pointer;
  position: relative;
  z-index: 5;
}
.big-number a:hover {
  color: #c19d60;
}
.book-map {
  /* border: 1px solid red; */
  border-radius: 15px;
  overflow: hidden;
  width: 80%;
  margin: 50px auto;
  box-shadow: inset 0px 0px 50px 0px #ababab, 5px 5px 5px 1px #242424;
  -webkit-box-shadow: inset 0px 0px 50px 0px #ababab, 5px 5px 5px 1px #242424;
  -moz-box-shadow: inset 0px 0px 50px 0px #ababab, 5px 5px 5px 1px #242424;
  -o-box-shadow: inset 0px 0px 50px 0px #ababab, 5px 5px 5px 1px #242424;
}

/* open-time */
/* RWD */
@media screen and (max-width: 985px) {
  .open-time-row {
    flex-direction: column;
  }
  .open-time .open-time-left {
    width: 100%;
  }
  .open-time .open-time-right {
    width: 100%;
    margin: auto;
  }
  .work-time .row {
    /* flex-direction: column; */
  }
  .big-number a {
    font-size: 24px;
  }
  #form input[type="submit"] {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .open-time-row {
    padding: 0 15px;
  }
  .big-number a {
    font-size: 16px;
  }
}
