@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("./common/nav.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max-width {
  /* border: 1px solid blue; */
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.min-width {
  /* border: 11px solid blue; */
  max-width: 1300px;
  padding: 0 50px;
  margin: auto;
}

/* ---banner style */
.home {
  position: relative;
  height: 100vh;
  display: flex;
  /* background-color: tomato; */
  background-image: url(../images/banner22.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

.home::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 30px 1200px;
  border-color: transparent transparent #00000038 transparent;
}
.home::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 60px 1200px;
  border-color: transparent transparent #b4b4b449 transparent;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: crimson;
  font-weight: 500;
}

.home .home-content a button {
  display: inline-block;
  background-color: crimson;
  color: #fff;
  padding: 12px 36px;
  font-size: 25px;
  cursor: pointer;
  border: 2px solid crimson;
  border-radius: 15px;
  margin-top: 20px;
  transition: 0.3s ease;
}

.home .home-content a button:hover {
  color: crimson;
  background-color: transparent;
}

/* 標題底線控制 all similar content style code */
section {
  padding: 60px 0;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 3px;
  background-color: black;
}

section .title::after {
  position: absolute;
  font-size: 20px;
  bottom: -5px;
  left: 50%;
  padding: 0 7px;
  color: crimson;
  transform: translateX(-50%);
  background-color: rgb(255, 255, 255);
}
/* <section class="about" id="about"> */

.about,
.our-food,
.services,
.flavor,
.guests {
  font-family: "Poppins", sans-serif;
}

.about .title::after {
  content: "best bbq";
}
.about .about-content {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.about .about-content .left {
  /* border: 1px solid red; */
  width: 45%;
}

.about .about-content .left img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.about .about-content .right {
  /* border: 1px solid rgb(0, 0, 0); */
  font-size: 16px;
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text span {
  color: crimson;
}

.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right a button {
  display: inline-block;
  background-color: crimson;
  color: #fff;
  padding: 10px 36px;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid crimson;
  border-radius: 15px;
  margin-top: 20px;
  transition: 0.3s ease;
}

.about .about-content .right a button:hover {
  background-color: transparent;
  color: crimson;
}
/* food */

.food {
  width: 90%;
  margin: auto;
  /* background-color: aliceblue; */
}
.food img {
  /* padding: 0 10px; */
  width: 100%;
  /* height: 200px; */
}
.slick-next {
  font-size: 30px;
  color: red;
}
/* food */

/* sever the FLAVOR */
.flavor {
  /* border: 1px solid red; */
  height: 70vh;
  background-image: url(../images/flavor.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.9;
  align-items: center;
  display: flex;
}
.flavor-border {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 1200px 0 0;
  opacity: 0.5;
  border-color: #000000 transparent transparent transparent;
}
.flavor-border2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 1200px 0 0;
  opacity: 0.5;
  border-color: #000000 transparent transparent transparent;
}

/* msk */
.flavor-msk {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #260606;
  opacity: 0.4;
  z-index: -1;
}
.flavor .flavor-content {
  /* border: 1px solid red; */
  text-align: center;
  font-size: 18px;
  align-items: center;
  width: 100%;
  margin: auto;
  position: relative;
}
.flavor .flavor-content::after {
  content: "";
  position: absolute;
  width: 100%;
  margin: auto;
  height: 2px;
  background-color: #fff;
  left: 0px;
  bottom: -40px;
}
.flavor .flavor-content i {
  color: white;
}
.flavor .flavor-content .fire-box {
  /* border: 1px solid blue; */
  display: inline-block;
  padding: 15px 21px;
  background-color: #db9423;
  border-radius: 50px;
  z-index: 1;
  position: relative;
}
.flavor .flavor-content .fire-box::after {
  content: "";
  position: absolute;
  width: 255px;
  height: 2px;
  background-color: #fff;
  left: 70px;
  top: 50%;
}
.flavor .flavor-content .fire-box::before {
  content: "";
  position: absolute;
  width: 255px;
  height: 2px;
  background-color: #fff;
  right: 70px;
  top: 50%;
}
.flavor .flavor-content h2 {
  line-height: 1.66em;
  font-size: 60px;
  font-weight: 100;
  color: #fff;
}
.flavor .flavor-content p {
  color: #777777;
  line-height: 60px;
}

/* sever the FLAVOR */

/* services setion styling */

.services {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.services .services-content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.services .services-content .services-left {
  width: 50%;
}
.services .services-content .services-left div::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -10px;
  height: 0.5px;
  background-color: rgb(0, 0, 0);
}
.services .services-content .services-left div {
  position: relative;
  /* border: 1px solid red; */
}

.services .services-content .services-left h1 {
  font-size: 35px;
  color: crimson;
  margin-bottom: 20px;
}
.services .services-content .services-left p {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}
.services .services-content .services-left img {
  width: 150px;
  margin: auto;
  display: flex;
}

.services .services-content .services-right {
  width: 50%;
  margin: auto;
}

.services .services-content .services-right img {
  width: 100%;
  margin: auto;
}

/* <section class="about" id="about"> */

/* guests style */
.guests {
  min-height: 70vh;
  background-image: url(/images/people/peopleA.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.9;
  align-items: center;
  display: flex;
  text-align: center;
}
/* msk */
.guests-msk {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0e0a0a;
  opacity: 0.7;
  z-index: -1;
}

.guests h1 {
  font-size: 60px;
  color: crimson;
  font-weight: 500;
}
.guests h2 {
  color: #fff;
}
.guests p {
  /* border: 1px solid red; */
  margin: 7px;
  line-height: 26px;
  /* padding-bottom: 110px 0; */
}
.guests .guests-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  /* border: 1px solid red; */
  padding-top: 50px;
}
.guests .guests-content .guests-A {
  width: 33%;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  /* border: 1px solid rgb(0, 0, 0); */
  color: #fff;
  padding: 10px;
}
.guests .guests-content .guests-A .guests-good {
  border: 3px solid crimson;
  color: crimson;
  border-radius: 50px;
  display: inline-block;
  font-size: 30px;
  padding: 0 10px;
}

.guests .guests-content .guests-text {
  display: -webkit-box;
  -webkit-line-clamp: 13;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}
/* guests style */

/* RWD */

@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1200px) {
  .flavor-border {
    border-width: 60px 900px 0 0;
  }
  .flavor-border2 {
    border-width: 30px 900px 0 0;
  }
  .home::after {
    border-width: 0 0 30px 900px;
  }
  .home::before {
    border-width: 0 0 60px 900px;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
  .flavor-border {
    border-width: 40px 600px 0 0;
    opacity: 0.2;
  }
  .flavor-border2 {
    border-width: 20px 600px 0 0;
    opacity: 0.5;
  }
}

@media (max-width: 947px) {
  .about .about-content .left img {
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
  }
  .home {
    height: 70vh;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }

  .home .home-content .text-3 {
    font-size: 35px;
  }

  .home .home-content a button {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content {
    /* border: 1px solid blue; */
    flex-direction: column;
  }
  .about .about-content .column {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .about .about-content .left {
    display: block;
    width: auto;
    /* border: 2px solid red; */
    margin: 10px auto;
  }
  .about .about-content .right {
    /* flex: 100%; */
  }

  /* card */

  .flavor {
    background-attachment: scroll;
    height: 60vh;
  }
  .services .services-content {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .services .services-content .services-left {
    width: 100%;
  }
  .services .services-content .services-right {
    width: 300px;
  }

  .guests .guests-content .guests-A {
    width: 50%;
  }
  .guests h1 {
    font-size: 50px;
    color: crimson;
    font-weight: 500;
  }
}

@media (max-width: 800px) {
  .home::after {
    border-width: 0 0 20px 600px;
  }
  .home::before {
    border-width: 0 0 40px 600px;
  }
}

@media (max-width: 700px) {
  .flavor {
    height: 50vh;
  }
  .flavor .flavor-content h2 {
    line-height: 1.66em;
    font-size: 50px;
    font-weight: 100;
    color: #fff;
  }
  .flavor .flavor-content .fire-box::after {
    width: 200px;
  }
  .flavor .flavor-content .fire-box::before {
    width: 200px;
  }
  .flavor-border {
    border-width: 40px 300px 0 0;
  }
  .flavor-border2 {
    border-width: 20px 300px 0 0;
  }
}

@media (max-width: 690px) {
  .home .home-content .text-2 {
    font-size: 60px;
  }

  .home .home-content .text-3 {
    font-size: 32px;
  }

  .max-width {
    padding: 0 23px;
  }

  .home .home-content a button {
    font-size: 20px;
    padding: 9px 25px;
  }

  /* card */

  .guests .guests-content .guests-A {
    width: 100%;
    padding: 10px;
  }

  .food {
    width: 100%;
  }
}
@media (max-width: 643px) {
  .flavor .flavor-content .fire-box::after {
    display: none;
  }
  .flavor .flavor-content .fire-box::before {
    display: none;
  }
  .flavor .flavor-content::after {
    display: none;
  }
}
@media (max-width: 590px) {
  .about .about-content .left img {
    width: 100%;
  }
  .flavor .flavor-content h2 {
    line-height: 1.66em;
    font-size: 30px;
    font-weight: 100;
    color: #fff;
  }
}

@media (max-width: 570px) {
  .flavor-border {
    border-width: 40px 300px 0 0;
  }
  .flavor-border2 {
    border-width: 20px 300px 0 0;
  }
  .slick-dots li button:before {
    display: none;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }

  .home .home-content .text-3 {
    font-size: 27px;
  }
}
.slick-dots li button:before {
  font-size: 30px;
}

.slick-next {
  font-size: 0;
}
.slick-prev {
  /* border: 1px solid red;
  left: 0px; */
}
