.banner {
  font-family: "Poppins", sans-serif;
}
/* ---banner style */
.home {
  position: relative;
  min-height: 750px;
  display: flex;
  /* background-color: tomato; */
  /* background-image: url(../images/backimg/2.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Ubuntu", sans-serif;
  /* border: 1px solid red; */
  overflow: hidden;
}
.home-row {
  border: 1px solid red;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 150px;
}
.banner-inner {
  /* border: 2px solid blue; */
  width: 300px;
}
.banner-inner h2,
.banner-inner p {
  margin-bottom: 10px;
  color: black;
}
.banner-inner p {
  line-height: 30px;
}
.banner-inner.right {
  text-align: right;
  /* border: 1px solid red; */
}

.wrap-cor {
  border: 4px solid yellow;
  width: 100%;
  position: absolute;
  height: 100%;
}
.wrap {
  border: 2px solid red;
  height: 100vh;
  /* overflow: hidden; */
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 500;
}
.wrap .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-size: cover;
  transform: scale(1.1);
  background-image: url(../../images/index-img/bg.png);
}
.box-main-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid rgb(0, 0, 0);
  /* z-index: 999; */
  /* background-color: black; */
}
.bg-color-1 {
  border: 11px solid red;
  background-color: #00000059;
  position: absolute;
  width: 55%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all ease 2s;
}
.bgcolor-1:hover {
}
